@font-face
{
    font-family: 'Roboto';
    src: url('Police/Roboto-Regular-webfont.eot');
    src: url('Police/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/Roboto-Regular-webfont.woff') format('woff'),
         url('Police/Roboto-Regular-webfont.ttf') format('truetype'),
         url('Police/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body
{
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#bloc_page
{
  width: 100%;
}

/*----- Déco Header -----*/
nav ul
{
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin: 25px 250px 0 0;
}

nav li a
{
  margin: 0 0 0 50px;
  color: black;
  text-decoration: none;
}

nav a:hover
{
  color: rgb(92,173,211);
  border-top: 3px solid rgb(92,173,211);
  padding-top: 42px;
}

#haut
{
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  top: 0%;
  left: 0%;
  position: fixed;
  padding: 20px;
  z-index: 10;
}

#logo
{
  margin-left: 16.5%;
}

#Slider img
{
  width: 100%;
  padding-top: 35px;
  position: relative;
}

.timeline1
{
  position: absolute;
  border: 3px rgb(92,173,211) solid;
  z-index: 11;
  width: 10%;
  margin-top: -11px;
}

.timeline2
{
  position: absolute;
  border: 3px rgba(0,0,0,0.15) solid;
  z-index: 10;
  width: 99.7%;
  margin-top: -11px;
}

#description
{
  width: 30%;
  position: absolute;
  top: 30%;
  margin-left: 17.5%;
  color: white;
}

.web
{
  color: rgb(92,171,209);
}

.Bouton_infos
{
  font-size: 1.3em;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 2px rgb(68,148,187);
  background-color: rgb(92,173,211);
  text-decoration: none;
  padding: 8px 20px 8px 20px;
}

.Bouton_infos:hover
{
  color: rgb(92,173,211);
  background-color: white;
}

#Rond_flèche_gauche
{
  background-color: rgba(0,0,0,0.15);
  border-radius: 0px 35px 35px 0px;
  position: absolute;
  width: 35px;
  height: 68px;
  top: 40%;
  z-index: 8;
}

#Flèche_gauche
{
  color: white;
  position: absolute;
  left: 25%;
  top: 34%;
}

#Rond_flèche_gauche:hover
{
  background-color: rgba(0,0,0,0.5);
}

#Rond_flèche_droite
{
  background-color: rgba(0,0,0,0.15);
  border-radius: 35px 0px 0px 35px;
  position: absolute;
  width: 37px;
  height: 68px;
  right: 0;
  top: 40%;
  z-index: 8;
}

#Flèche_droite
{
  color: white;
  position: absolute;
  left: 40%;
  top: 34%;
}

#Rond_flèche_droite:hover
{
  background-color: rgba(0,0,0,0.5);
}

/*----- Déco Services -----*/
#Services
{
  text-align: center;
}

#Services h2
{
  font-size: 2.9em;
  margin-bottom: 35px;
}

#Services p
{
  margin: 35px;
}

#UX, #UI, #SEO
{
  width: 100%;
  display: flex;
}

#Texte_UX, #Texte_UI, #Texte_SEO
{
  width: 90%;
}

.Cercle_Icône
{
  border: 1px solid rgba(127,127,127,0.3);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 30px 30px 0 10px;
}

.Rond_Icône
{
  border: white solid;
  background-color: rgb(92,173,211);
  width: 12px;
  height: 12px;
  border-width: 5px;
  border-radius: 50%;
  left: 82%;
  bottom: 32%;
  position: relative;
}

#Icône_UX, #Icône_UI, #Icône_SEO
{
  font-size: 1.8em;
  color: rgb(92,173,211);
  position: relative;
  left: 28%;
  top: 17%;
}

/*----- Déco Article/Aside -----*/

#section_1_Service
{
  height: 700px;
}

#Article
{
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-left: 53%;
  margin-top: 5%;
  width: 38%;
}

#Article h3
{
  font-size: 1.5em;
  margin-bottom: -2%;
}

#Aside img
{
  margin: 3.5% 0 0 20%;
}

/*----- Déco Projets -----*/
#section_2_Projets
{
  background-color: rgb(245,245,245);
}

#Projet-texte
{
  text-align: center;
}

#Projet-texte h2
{
  padding-top: 1.3%;
  font-size: 2.9em;
  margin-bottom: 35px;
}

#Projet-texte p
{
  margin: 35px;
}

.rond
{
  display: flex;
  border: white solid;
  background-color: rgb(92,173,211);
  width: 15px;
  height: 15px;
  border-width: 7px;
  border-radius: 50%;
  margin-left: 49.2%;
  margin-top: -25px;
  z-index: 9;
  position: absolute;
}

.barre
{
  display: flex;
  width: 10%;
  margin-top: -12px;
  opacity: 0.3;
  position: relative;
}

#liste
{
  text-align: center;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  margin-bottom: 1%;
}

#liste a
{
  color: rgb(104,108,113);
  border-radius: 3px;
  background-color: rgb(229,229,229);
  text-decoration: none;
  padding: 8px 20px 8px 20px;
  margin: -2.5px;
  position: relative;
}

#liste a:hover
{
  color: white;
  background-color: rgb(92,173,211);
  border-bottom: 3px solid rgb(70,140,173);
  opacity: 1;
}

#liste a:hover .fa-sort-down
{
  color: rgb(70,140,173);
  opacity: 1;
  position: absolute;
  top: 65%;
  left: 45%;
  font-size: 1.5em;
}

#liste a.all_works
{
  color: white;
  background-color: rgb(92,173,211);
  border-bottom: 3px solid rgb(70,140,173);
}

.fa-sort-down
{
  opacity: 0;
  position: absolute;
  color: rgb(70,140,173);
}

.all_works > .fa-sort-down
{
  opacity: 1;
  position: absolute;
  top: 65%;
  left: 45%;
  font-size: 1.5em;
}

#bloc_photos
{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

figure
{
  position: relative;
  width: 19%;
  margin-left: 2.6%;
}

figure img
{
  width: 115%;
}

figcaption
{
  position: absolute;
  width: 115%;
  height: 35%;
  background-color: rgba(0,0,0,0.6);
  bottom: 2%;
  color: white;
  transition: 0.7s;
  opacity: 0;
}

figure:hover figcaption
{
  opacity: 1;
}

.texte
{
  position: absolute;
  margin-left: 3%;
  margin-top: -3%;
}

.texte p
{
  font-size: 0.9em;
  margin-top: -5%;
}

.rond_oeil
{
  border: white solid;
  background-color: rgb(68,148,187);
  width: 38px;
  height: 38px;
  left: 85%;
  top: -21%;
  border-width: 2px;
  border-radius: 50%;
  position: relative;
}

.fa-eye
{
  font-size: 1em;
  position: relative;
  left: 26%;
  top: 19%;
}

/*----- Déco Section 3 Carte -----*/
.Googlemap
{
  width: 100%;
  height: 800px;
  border: 0px;
  opacity: 0.6;
}

#carte
{
  position: relative;
  background-color: rgb(92,171,209);
  height: 800px;
  margin-top: 25px;
}

#Formulaire
{
  width: 310px;
  height: 590px;
  color: black;
  background-color: rgba(245,245,245,0.7);
  padding: 8px 25px 8px 15px;
  bottom: 15%;
  margin-left: 75%;
  position: absolute;
}

textarea, input
{
  width: 313px;
  height: 28px;
}

textarea
{
  height: 167px;
  font-family: "Roboto", sans-serif;
}

.Bouton_envoyer
{
  font-size: 1.3em;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgb(68,148,187);
  background-color: rgb(92,173,211);
  text-decoration: none;
  padding: 8px 20px 8px 20px;
}

.Bouton_envoyer:hover
{
  color: rgb(92,173,211);
  background-color: white;
  box-shadow: 0 0 0;
}

/*----- Média Queries -----*/
@media all and (min-width: 1025px) and (max-width: 1440px)
{
  #description
  {
    width: 40%;
    top: 25%;
    margin-left: 8%;
  }

  #Slider img
  {
    padding-top: 55px;
  }

  #Rond_flèche_droite
  {
    right: 0;
  }

  .barre
  {
    width: 12%;
  }

  .rond
  {
    margin-left: 49.1%;
  }

  #Aside img
  {
    margin: 3.5% 0 0 12%;
  }

  #bloc_photos
  {
    width: 85%;
  }

  figure
  {
    width: 19%;
    margin-left: 2.1%;
    margin-top: 0.5%;
  }

  figure img
  {
    width: 115%;
  }

  figcaption
  {
    width: 115%;
    bottom: 2.2%;
  }

  .texte
  {
    font-size: 0.8em;
    width: 95%;
    margin-left: 3%;
    margin-top: -5%;
  }

  .texte p
  {
    font-size: 0.7em;
    margin-top: -4%;
  }

  .rond_oeil
  {
    left: 80%;
    top: -32%;
  }

  #Formulaire
  {
    margin-left: 65%;
  }
}

@media all and (min-width: 769px) and (max-width: 1024px)
{
  #logo
  {
    margin-left: 10%;
  }

  #description
  {
    font-size: 0.8em;
    width: 45%;
    margin-left: 6%;
    top: 24%;
  }

  #Slider img
  {
    padding-top: 60px;
  }

  #Rond_flèche_droite
  {
    right: 0;
    top: 32%;
  }

  #Rond_flèche_gauche
  {
    top: 32%;
  }

  .barre
  {
    width: 16%;
  }

  .rond
  {
    margin-left: 48.5%;
  }

  #Aside img
  {
    margin: 2% 0 0 6%;
  }

  .Cercle_Icône
  {
    width: 50px;
    height: 50px;
  }

  .Rond_Icône
  {
    width: 10px;
    height: 10px;
    border-width: 5px;
    left: 80%;
    bottom: 26%;
  }

  .timeline2
  {
    width: 99.4%;
  }

  #Icône_UX, #Icône_UI, #Icône_SEO
  {
    font-size: 1.3em;
    left: 28%;
    top: 20%;
  }

  #section_1_Service
  {
    height: 775px;
  }

  #bloc_photos
  {
    width: 85%;
  }

  figure
  {
    width: 18%;
    margin-left: 2.1%;
    margin-top: 1%;
  }

  figure img
  {
    width: 115%;
  }

  figcaption
  {
    width: 115%;
    bottom: 3.8%;
  }

  .texte
  {
    font-size: 0.7em;
    margin-left: 3%;
    margin-top: -6.5%;
  }

  .texte p
  {
    font-size: 0.8em;
    margin-top: -6%;
  }

  .rond_oeil
  {
    width: 30px;
    height: 30px;
    left: 78%;
    top: -32%;
  }

  .fa-eye
  {
    font-size: 0.8em;
    left: 24%;
    top: 9%;
  }

  #Formulaire
  {
    width: 250px;
    height: 590px;
    color: black;
    background-color: rgba(245,245,245,0.7);
    padding: 8px 25px 8px 15px;
    bottom: 15%;
    margin-left: 65%;
    position: absolute;
  }

  textarea, input
  {
    background-color: rgba(245,245,245,1);
    width: 245px;
    height: 28px;
  }

  textarea
  {
    height: 167px;
  }
}

@media all and (min-width: 426px) and (max-width: 768px)
{
  #logo
  {
    margin-left: 0%;
  }

  #description
  {
    font-size: 0.6em;
    width: 45%;
    margin-left: 7%;
    top: 22%;
  }

  #Slider img
  {
    padding-top: 70px;
  }

  .Bouton_infos
  {
    font-size: 1em;
    padding: 6px 15px 6px 15px;
  }

  #Rond_flèche_droite
  {
    border-radius: 25px 0px 0px 25px;
    width: 25px;
    height: 55px;
    right: 0;
    top: 30%;
  }

  #Flèche_droite
  {
    left: 32%;
    top: 28%;
  }

  #Rond_flèche_gauche
  {
    border-radius: 0px 25px 25px 0px;
    width: 25px;
    height: 55px;
    top: 30%;
  }

  #Flèche_gauche
  {
    left: 20%;
    top: 28%;
  }

  .timeline2
  {
    width: 99.2%;
  }

  .barre
  {
    width: 16%;
  }

  .rond
  {
    margin-left: 48%;
  }

  #Services
  {
    font-size: 0.7em;
  }

  #Aside img
  {
    margin: 1% 0 0 8%;
    width: 382.5px;
    height: 239.25px;
  }

  .Cercle_Icône
  {
    width: 42px;
    height: 42px;
  }

  .Rond_Icône
  {
    width: 8px;
    height: 8px;
    border-width: 3px;
    left: 80%;
    bottom: 26%;
  }

  #Icône_UX, #Icône_UI, #Icône_SEO
  {
    font-size: 1.1em;
    left: 28%;
    top: 20%;
  }

  #Texte_UX, #Texte_UI, #Texte_SEO
  {
    font-size: 0.7em;
    width: 85%;
  }

  #section_1_Service
  {
    height: 575px;
  }

  #Projet-texte
  {
    font-size: 0.7em;
  }

  #bloc_photos
  {
    width: 85%;
  }

  figure
  {
    width: 37.5%;
    margin-left: 4%;
    margin-top: -4.5%;
  }

  figure img
  {
    width: 115%;
    margin-top: 15%;
  }

  figcaption
  {
    width: 115%;
    bottom: 2%;
  }

  .rond_oeil
  {
    width: 36px;
    height: 36px;
    left: 82%;
    top: -22%;
  }

  .fa-eye
  {
    font-size: 1em;
    left: 26%;
    top: 18%;
  }

  #Formulaire
  {
    width: 160px;
    height: 575px;
    color: black;
    background-color: rgba(245,245,245,0.7);
    padding: 8px 25px 8px 15px;
    bottom: 15%;
    margin-left: 70%;
    position: absolute;
  }

  textarea, input
  {
    background-color: rgba(245,245,245,1);
    width: 165px;
  }

  textarea
  {
    height: 135px;
  }

  .Bouton_envoyer
  {
    font-size: 0.9em;
    padding: 6px 15px 6px 15px;
  }
}

@media all and (min-width: 376px) and (max-width: 425px)
{
  #haut
  {
    justify-content: center;
    padding: 0px;
  }

  #logo
  {
    margin: 1% 0% 0% 1%;
  }

  nav ul
  {
    font-size: 0.8em;
    justify-content: center;
    margin: 72px 0px 5px -355px;
  }

  nav li a
  {
    margin: 0 0 0 25px;
  }

  nav a:hover
  {
    border-top: 2px solid rgb(92,173,211);
    padding-top: 3px;
  }

  #Slider img
  {
    padding-top: 70px;
  }

  .timeline1, .timeline2
  {
    display: none;
  }

  #description
  {
    text-align: center;
    font-size: 0.7em;
    color: black;
    width: 90%;
    position: relative;
    margin-left: 5%;
    padding-bottom: 40px;
  }

  .Bouton_infos
  {
    display: none;
  }

  #Rond_flèche_gauche
  {
    display: none;
  }

  #Rond_flèche_droite
  {
    display: none;
  }

  .barre
  {
    display: flex;
    width: 30%;
    margin-top: -12px;
    opacity: 0.3;
    position: relative;
  }

  .rond
  {
    margin-left: 46.8%;
  }

  #Services h2
  {
    font-size: 1.5em;
    margin-bottom: 35px;
    margin-top: -10px;
  }

  #Services p
  {
    font-size: 0.7em;
    margin: 25px;
  }

  #Aside img
  {
    width: 255px;
    height: 159.5px;
    margin-left: 20.2%;
  }

  #section_1_Service
  {
    height: 700px;
  }

  #Article
  {
    font-size: 0.8em;
    margin-left: 3%;
    margin-top: 45%;
    width: 92%;
  }

  #Article p
  {
    font-size: 0.9em;
  }

  .Cercle_Icône
  {
    width: 40px;
    height: 36px;
  }

  .Rond_Icône
  {
    width: 8px;
    height: 8px;
    border-width: 3px;
    left: 80%;
    bottom: 24%;
  }

  #Icône_UX, #Icône_UI, #Icône_SEO
  {
    font-size: 1.1em;
    left: 30%;
    top: 20%;
  }

  #Projet-texte h2
  {
    padding-top: 6%;
    font-size: 1.3em;
    margin-bottom: 35px;
  }

  #Projet-texte p
  {
    margin: 35px;
    font-size: 0.7em;
  }

  #liste
  {
    font-size: 0.7em;
  }

  #liste a:hover
  {
    margin: -0.1%;
  }

  #liste a:hover .fa-sort-down
  {
    opacity: 1;
    top: 80%;
    left: 45%;
    font-size: 1.5em;
    margin-right: -10px;
  }

  #liste a.all_works
  {
    color: white;
    background-color: rgb(92,173,211);
    border-bottom: 3px solid rgb(70,140,173);
    margin-right: 0.01%;
  }

  .fa-sort-down
  {
    opacity: 0;
    position: absolute;
    color: rgb(70,140,173);
  }

  .all_works > .fa-sort-down
  {
    opacity: 1;
    position: absolute;
    top: 80%;
    left: 45%;
    font-size: 1.5em;
  }

  #liste a:hover.creative
  {
    margin-left: -1%;
  }

  figure
  {
    width: 100%;
    margin-top: 18px;
    margin-left: -1%;
  }

  figcaption
  {
    bottom: 2.1%;
  }

  .texte
  {
    font-size: 1.1em;
    margin-top: -5%;
  }

  .texte p
  {
    font-size: 0.7em;
    margin-top: -5%;
  }

  .rond_oeil
  {
    border-width: 2px;
    width: 40px;
    height: 40px;
    left: 83%;
    top: -26%;
  }

  .fa-eye
  {
    font-size: 1.1em;
    left: 25%;
    top: 23%;
  }

  #carte
  {
    position: relative;
    background-color: rgb(92,171,209);
    height: 500px;
  }

  .Googlemap
  {
    width: 100%;
    height: 500px;
    border: 0px;
    opacity: 0.6;
  }

  #Formulaire
  {
    text-align: center;
    font-size: 0.8em;
    width: 90%;
    height: 475px;
    color: black;
    opacity: 1;
    background-color: rgb(245,245,245);
    padding: 8px 25px 8px 15px;
    margin-top: 25%;
    margin-left: 0%;
    position: relative;
  }

  textarea, input
  {
    width: 95%;
    height: 28px;
    margin-left: 2.5%;
  }

  textarea
  {
    height: 100px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }

  .Bouton_envoyer
  {
    font-size: 1em;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgb(68,148,187);
    padding: 10px 20px 10px 20px;
  }
}

@media all and (min-width: 321px) and (max-width: 375px)
{
  #haut
  {
    justify-content: center;
    padding: 0px;
  }

  #logo
  {
    margin: 2% 0% 0% 0%;
  }

  nav ul
  {
    font-size: 0.8em;
    justify-content: center;
    margin: 72px 0px 5px -325px;
  }

  nav li a
  {
    margin: 0 0 0 25px;
  }

  nav a:hover
  {
    border-top: 2px solid rgb(92,173,211);
    padding-top: 3px;
  }

  #Slider img
  {
    padding-top: 70px;
  }

  .timeline1, .timeline2
  {
    display: none;
  }

  #description
  {
    text-align: center;
    font-size: 0.7em;
    color: black;
    width: 97%;
    position: relative;
    margin-left: 1.5%;
    padding-bottom: 40px;
  }

  .Bouton_infos
  {
    font-size: 1.2em;
    padding: 3px 11px 3px 11px;
    display: none;
  }

  #Rond_flèche_gauche
  {
    width: 18px;
    height: 33px;
    top: 21%;
    display: none;
  }

  #Flèche_gauche
  {
    font-size: 0.6em;
    left: 14%;
    top: 30%;
  }

  #Rond_flèche_droite
  {
    width: 18px;
    height: 33px;
    top: 21%;
    right: 0;
    display: none;
  }

  #Flèche_droite
  {
    font-size: 0.6em;
    left: 42%;
    top: 30%;
  }

  .barre
  {
    display: flex;
    width: 30%;
    margin-top: -12px;
    opacity: 0.3;
    position: relative;
  }

  .rond
  {
    width: 11px;
    height: 11px;
    border-width: 5px;
    margin-left: 47.2%;
    margin-top: -22px;
  }

  #Services h2
  {
    font-size: 1.3em;
    margin-bottom: 35px;
    margin-top: -10px;
  }

  #Services p
  {
    font-size: 0.8em;
    margin: 25px;
  }

  #Aside img
  {
    width: 255px;
    height: 159.5px;
    margin-left: 17%;
  }

  #section_1_Service
  {
    height: 730px;
  }

  #Article
  {
    font-size: 0.8em;
    margin-left: 3%;
    margin-top: 45%;
    width: 92%;
  }

  #Article p
  {
    font-size: 1em;
  }

  .Cercle_Icône
  {
    width: 40px;
    height: 36px;
  }

  .Rond_Icône
  {
    width: 8px;
    height: 8px;
    border-width: 3px;
    left: 80%;
    bottom: 24%;
  }

  #Icône_UX, #Icône_UI, #Icône_SEO
  {
    font-size: 1.1em;
    left: 30%;
    top: 20%;
  }

  #Projet-texte h2
  {
    padding-top: 6%;
    font-size: 1.3em;
    margin-bottom: 35px;
  }

  #Projet-texte p
  {
    margin: 35px;
    font-size: 0.8em;
  }

  #liste
  {
    font-size: 0.6em;
  }

  #liste a:hover
  {
    margin: 0.1%;
  }

  #liste a:hover .fa-sort-down
  {
    opacity: 1;
    top: 70%;
    left: 45%;
    font-size: 2em;
  }

  #liste a.all_works
  {
    color: white;
    background-color: rgb(92,173,211);
    border-bottom: 3px solid rgb(70,140,173);
    margin-right: 0.01%;
  }

  .fa-sort-down
  {
    opacity: 0;
    position: absolute;
    color: rgb(70,140,173);
  }

  .all_works > .fa-sort-down
  {
    opacity: 1;
    position: absolute;
    top: 70%;
    left: 45%;
    font-size: 2em;
  }

  #liste a:hover.creative
  {
    margin-left: -1%;
  }

  figure
  {
    width: 100%;
    margin-top: 18px;
    margin-left: -0.5%;
  }

  figcaption
  {
    bottom: 2.2%;
  }

  .texte
  {
    font-size: 1em;
    margin-top: -5%;
  }

  .texte p
  {
    font-size: 0.6em;
    margin-top: -6%;
  }

  .rond_oeil
  {
    border-width: 2px;
    width: 40px;
    height: 40px;
    left: 83%;
    top: -26%;
  }

  .fa-eye
  {
    font-size: 1.1em;
    left: 25%;
    top: 23%;
  }

  #carte
  {
    position: relative;
    background-color: rgb(92,171,209);
    height: 500px;
  }

  .Googlemap
  {
    width: 100%;
    height: 500px;
    border: 0px;
    opacity: 0.6;
  }

  #Formulaire
  {
    text-align: center;
    font-size: 0.8em;
    width: 90%;
    height: 475px;
    color: black;
    opacity: 1;
    background-color: rgb(245,245,245);
    padding: 8px 25px 8px 15px;
    margin-top: 25%;
    margin-left: 0%;
    position: relative;
  }

  textarea, input
  {
    width: 95%;
    height: 28px;
    margin-left: 2.5%;
  }

  textarea
  {
    height: 100px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }

  .Bouton_envoyer
  {
    font-size: 1em;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgb(68,148,187);
    padding: 10px 20px 10px 20px;
  }
}

@media all and (min-width: 0px) and (max-width: 320px)
{
  #haut
  {
    justify-content: center;
    padding: 0px;
  }

  #logo
  {
    margin: 2% 0% 0% 0%;
  }

  nav ul
  {
    font-size: 0.8em;
    justify-content: center;
    margin: 72px 0px 5px -325px;
  }

  nav li a
  {
    margin: 0 0 0 25px;
  }

  nav a:hover
  {
    border-top: 2px solid rgb(92,173,211);
    padding-top: 3px;
  }

  #Slider img
  {
    padding-top: 90px;
  }

  .timeline1, .timeline2
  {
    display: none;
  }

  #description
  {
    text-align: center;
    font-size: 0.7em;
    color: black;
    width: 90%;
    position: relative;
    margin-left: 5%;
    padding-bottom: 40px;
  }

  .Bouton_infos
  {
    font-size: 1.2em;
    padding: 3px 11px 3px 11px;
    display: none;
  }

  #Rond_flèche_gauche
  {
    display: none;
  }

  #Rond_flèche_droite
  {
    display: none;
  }

  .barre
  {
    display: flex;
    width: 30%;
    margin-top: -12px;
    opacity: 0.3;
    position: relative;
  }

  .rond
  {
    width: 11px;
    height: 11px;
    border-width: 5px;
    margin-left: 47%;
    margin-top: -22px;
  }

  #Services h2
  {
    font-size: 1.3em;
    margin-bottom: 35px;
    margin-top: -10px;
  }

  #Services p
  {
    font-size: 0.7em;
    margin: 25px;
  }

  #Aside img
  {
    width: 255px;
    height: 159.5px;
    margin-left: 10.8%;
  }

  #Aside
  {
    margin-top: -20px;
  }

  #section_1_Service
  {
    height: 700px;
  }

  #Article
  {
    font-size: 0.9em;
    margin-left: 3%;
    margin-top: 45%;
    width: 92%;
  }

  #Article p
  {
    font-size: 0.8em;
  }

  .Cercle_Icône
  {
    width: 40px;
    height: 36px;
  }

  .Rond_Icône
  {
    width: 8px;
    height: 8px;
    border-width: 3px;
    left: 80%;
    bottom: 24%;
  }

  #Icône_UX, #Icône_UI, #Icône_SEO
  {
    font-size: 1.1em;
    left: 32%;
    top: 20%;
  }

  #Projet-texte h2
  {
    padding-top: 6%;
    font-size: 1.3em;
    margin-bottom: 35px;
  }

  #Projet-texte p
  {
    margin: 35px;
    font-size: 0.8em;
  }

  #liste
  {
    font-size: 0.6em;
    padding: 15px;
  }

  #liste a
  {
    border-radius: 3px;
    padding: 6px 15px 6px 15px;
    margin: -2.5px;
  }

  #liste a:hover
  {
    margin: 0.1%;
  }

  #liste a:hover .fa-sort-down
  {
    opacity: 1;
    top: 62%;
    left: 45%;
    font-size: 2em;
  }

  #liste a.all_works
  {
    color: white;
    background-color: rgb(92,173,211);
    border-bottom: 3px solid rgb(70,140,173);
    margin-right: 0.01%;
  }

  .fa-sort-down
  {
    opacity: 0;
    position: absolute;
    color: rgb(70,140,173);
  }

  .all_works > .fa-sort-down
  {
    opacity: 1;
    position: absolute;
    top: 62%;
    left: 45%;
    font-size: 2em;
  }

  #liste a:hover.creative
  {
    margin-left: -1.1%;
  }

  figure
  {
    width: 100%;
    margin-top: 18px;
  }

  figcaption
  {
    bottom: 3%;
  }

  .texte
  {
    font-size: 0.9em;
    margin-top: -5%;
  }

  .texte p
  {
    font-size: 0.65em;
    margin-top: -6.5%;
  }

  .rond_oeil
  {
    border-width: 2px;
    width: 40px;
    height: 40px;
    left: 80%;
    top: -33%;
  }

  .fa-eye
  {
    font-size: 1em;
    left: 27%;
    top: 21%;
  }

  #carte
  {
    position: relative;
    background-color: rgb(92,171,209);
    height: 500px;
  }

  .Googlemap
  {
    width: 100%;
    height: 500px;
    border: 0px;
    opacity: 0.6;
  }

  #Formulaire
  {
    text-align: center;
    font-size: 0.8em;
    width: 90%;
    height: 475px;
    color: black;
    opacity: 1;
    background-color: rgb(245,245,245);
    padding: 8px 25px 8px 15px;
    margin-top: 25%;
    margin-left: 0%;
    position: relative;
  }

  textarea, input
  {
    width: 95%;
    height: 28px;
    margin-left: 2.5%;
  }

  textarea
  {
    height: 100px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }

  .Bouton_envoyer
  {
    font-size: 1em;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgb(68,148,187);
    padding: 10px 20px 10px 20px;
  }
}
